dialog.modal{
    h1{
        margin-bottom: 1rem;
        font-size: x-large;

    }
    &::backdrop{
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
    }
    button{
        border-radius: 5px;

    }
}
.modalFooter{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    button{
        margin-left: 1rem;
    }
}